<h1> Enter a comment for <em> this walker </em> </h1>

<%= form_for @comment do |f| %>
    <%= f.label :entry %>
    <%= f.text_field :entry %>

    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :user_id %>
    <%= f.submit "post" %>
<% end %>