<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
        Add a New Dog
    </p>
  </div>
</section>

<div class="box">
<%= render partial: "layouts/errors", locals: { obj: @dog } %>

<%= form_for @dog do |f| %> 
    <div class="field">
    <%= f.label :name %>
    <div class="control">
    <%= f.text_field :name, required: true %>
    </div>
    </div> 
    <div class="field"> 
    <%= f.label :age %>
    <div class="control">
    <%= f.number_field :age, required: true %>
    </div>
    </div> 
    <div class="field"> 
    <%= f.label :breed %>
    <div class="control">
    <%= f.text_field :breed, required: true %>
    </div>
    </div>
    <div class="field">
    <%= f.label :gender %>
    <div class="control">
    <%= f.text_field :gender, required: true %>
    </div>
    </div>
    <%= f.submit "Submit", class: "button is-link" %>
<% end %>
</div>