<h1> Add a New Dog </h1>

<%= render partial: "layouts/errors", locals: { obj: @dog } %>

<%= form_for @dog do |f| %> 
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %><br>
    <br>
    <%= f.label :age %><br>
    <%= f.number_field :age, required: true %><br>
    <br>
    <%= f.label :breed %><br>
    <%= f.text_field :breed, required: true %><br>
    <br>
    <%= f.label :gender %><br>
    <%= f.text_field :gender, required: true %><br>
    <br>
    <%= f.submit "Submit" %>
<% end %>