<h1><%= @dog.name %></h1>
<p> Age: <%= @dog.age %></p>
<p> Breed: <%= @dog.breed %></p>
<p> Gender: <%= @dog.gender %></p>
<br>

<br>
<br>
<%= link_to "#{@dog.name}'s Walks", dog_walks_path(@dog) %>
<%= link_to "My Dogs", dogs_path %><br>
<%= link_to "Remove This Dog", dogs_path, method: :delete %>