<h1><%= @dog.name %></h1>
<p> Age: <%= @dog.age %></p>
<p> Breed: <%= @dog.breed %></p>
<p> Gender: <%= @dog.gender %></p>
<br>
<h4> Future Walks </h4>
    <% if @dog.walks.empty? %>
        <p><%= @dog.name %> doesn't have any walks scheduled. </p>
    <% else %>
        <ul>
            <% @dog.walks.each do |walk| %>
                <%# how to get the date formatted correctly? strf???? %>
                <p><%= walk.date_time %> with <%= walk.walker.name %>!</p>
            <% end %>
        </ul>
    <% end %>
<br>
<br>

<%= link_to "My Dogs", dogs_path %><br>
<%= link_to "Remove This Dog", dogs_path, method: :delete %>