<h1><%= @dog.name %></h1>
<p> Age: <%= @dog.age %></p>
<p> Breed: <%= @dog.breed %></p>
<p> Gender: <%= @dog.gender %></p>


<%= link_to "#{@dog.name}'s Walks", dog_walks_path(@dog) %>
<%= link_to "Remove this Dog", @dogs, method: :delete %>