<%= render partial: "layouts/errors", locals: { obj: @dog } %>
<div class="field">
    <%= f.label "Choose a Dog:", class: "label is-medium" %>
    <div class="control">
        <%= f.collection_select :dog_id, current_user.dogs, :id, :name, include_blank: true %> <br>            
    </div>
</div> 
<br>
<h3 class="label is-medium"> Or Create a New Dog </h3>
<%= f.fields_for :dog, Dog.new do |d| %>
    <div class="field">
        <strong><%= d.label :name %></strong>
        <div class="control">
        <%= d.text_field :name %>
        </div>
    </div>
    <div class="field">
        <strong><%= d.label :age %></strong>
        <div class="control">
        <%= d.number_field :age %>
        </div>
    </div>
    <div class="field">
        <strong><%= d.label :breed %></strong>
        <div class="control">
        <%= d.text_field :breed %>
        </div>
    </div>
    <div class="field">
        <strong><%= d.label :gender %></strong>
        <div class="control">
        <%= d.text_field :gender %>
        </div>
    </div>
    <%= d.hidden_field :user_id, value: current_user.id %>
<% end %>