<h1><%= @dog.name %>'s Scheduled Walks </h1>


<% if @dog.walks.empty? %>
    <p><%= @dog.name %> doesn't have any walks scheduled. </p>
<% else %>
    <ul>
        <% @dog.walks.each do |walk| %>
            <%# how to get the date formatted correctly? strf???? %>
            <p><%= walk.date_time %> with <%= walk.walker.name %>!</p>
        <% end %>
    </ul>
<% end %>

<%= link_to "#{@dog.name}'s Profile", dog_path(@dog) %>