<%= walks_heading %>
<% if @walks.empty? %>
    <p> No walks scheduled yet! </p>
<% else %>
    <%= render partial: "dogindex" %>
<% end %>

<% if @dog %>
    <%= link_to "Shedule A Walk", new_dog_walk_path(@dog) %>
    <%= link_to "#{@dog.name}'s Profile", dog_path(@dog) %>
<% else %>
    <%= link_to "Schedule a Walk!", new_walk_path %>
<% end %>

