<h1> Schedule a Walk </h1>

<%= render partial: "layouts/errors", locals: { obj: @walk } %>

<%= form_for [@dog, @walk] do |f| %>
    <%= f.label "Choose a Walker:" %><br>
    <%= f.collection_select :walker_id, Walker.all, :id, :name, include_blank: true, required: true %> <br>      
    <br>       
    <%= f.label "Select a Date and Time:" %><br>
    <%= f.datetime_field :date_time, required: true %><br>
    <br>
    <%= new_dog_option(f) %>
    
    <%= f.submit "Walk!" %>
<% end %>