<!DOCTYPE html>
<html>
  <head>
    <title>Dogs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <%# <% if logged_in? %> 
      <button type="button" class="btn btn-outline-warning"><%= link_to "Log Out", logout_path, method: :delete %></button>
    <%# <% else %>
      <% #redirect_to root_path %>
    <% #end %>
    <%= yield %>
  </body>
</html>
